body {
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.Sqs1qcKV5QXZqqjdxTHiQQHaEK&pid=Api&P=0&h=180);
    min-height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

}

.header {
    background-color: black;
    position: relative;
    width: 100%;
    top: 0;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
}

.logo {
    color: #fff;
    font-size: 23px;
    letter-spacing: -1.5px;
    font-weight: 500px;
}


.nav {
    transition: all 0.3s ease-in-out;
}

.nav_list {
    display: flex;
    column-gap: 30px;
}

.nav_link {
    color: #FFF;
    font-size: 20px;
    transition: all 0.4s;
}

.nav_link:hover,
.nav_link:focus {
    color: grey;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 27px;
    background-color: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.nav--open {
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}


form {
    padding: 50px 55px;
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.input-group {

    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: white;
    font-size: 35px;
    text-align: center;
}

label {
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    text-decoration: underline;
}

input,
textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #EDFFF8;
    border: 2px solid #F0FAF1;
    color: #3f3f3f;
}

input::placeholder,
textarea::placeholder {
    color: #b5cab6;
    font-size: 15px;
}

.button {
    font-size: 15px;
    border: 0;
    color: #FFFFFF;
    border-radius: 25px;
    background-color: #3f3f3f;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
}

.button:hover {
    background-color: #50E04B;
}