ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

}

.header {
    background-color: black;
    position: relative;
    width: 100%;
    top: 0;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
}

.logo {
    color: #fff;
    font-size: 23px;
    letter-spacing: -1.5px;
    font-weight: 500px;
}


.nav {
    transition: all 0.3s ease-in-out;
}

.nav_list {
    display: flex;
    column-gap: 30px;
}

.nav_link {
    color: #FFF;
    font-size: 20px;
    transition: all 0.4s;
}

.nav_link:hover,
.nav_link:focus {
    color: grey;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 27px;
    background-color: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.nav--open {
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}


.nosotrosh1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: white;
}

* {
    padding: 0;
    margin: 0;
}


p {
    display: flex;
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    color: white;

}

.h3nosotros {
    text-decoration: underline;
    display: flex;
    text-align: start;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.ulnosotros {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    background-image: url(https://images7.alphacoders.com/328/thumb-1920-328258.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}




footer {
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}